.cono-idioma{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.cono-idioma img{

    border-radius: 25%;
    width:300px;
}
.cono-idioma li{
    list-style: none;
}
.cono-idioma li:hover{
    color:#a2d2ff;
    transition: color 0.3s ease;
}
.cono-cont p{
   text-align: center;
    margin:5px;
    padding:10px;
    color:rgb(136, 130, 130);
}
.cono-cont h3{
    position:relative;
    left:100px;
}

.cards{
    display: flex;
    justify-content: space-between;
}
.card{
    
}
.cards card h3{
    padding:15px;
    text-align:center;
    color:#a2d2ff;
    font-size:25px;
}
.cards card h4{
    font-size:large;
    padding:10px;
}