.cono-idioma{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}
.cono-idioma img{

    border-radius: 25%;
    width:300px;
}
.cono-idioma li{
    list-style: none;
}
.cono-idioma li:hover{
    color:#a2d2ff;
    transition: color 0.3s ease;
}
.cono-cont p{
   text-align: center;
    margin:5px;
    padding:10px;
    color:rgb(136, 130, 130);
}
.cono-cont h3{
    position:relative;
    left:100px;
}

/*f y b end*/
.cards{
    display: flex;
    flex-direction:row;
    justify-content: space-evenly;
}
.subt{
    color:#a2d2ff;
    font-size:40px;
    text-align: center;
    margin-bottom: 60px;
}
.cards .card{
    background: #74a1ca;
    display: flex;
    width: 46%;
    height: 300px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 20px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
}

.cards .card img{
    width: 150px;
    height: 100px;
    object-fit: cover;
    border: none;
    display: block;
}

.cards .card > .contenido-texto-card{
    width: 60%;
    color: rgb(7, 7, 7);
}

.cards .card > .contenido-texto-card p{
    font-weight: 250;
    padding-top: 5px;
}
.contenido-texto-card h4:hover{
    color:white;
}