/*REconocimientos*/
.titulo-reco{
    color:#fff;
    font-size:30px;
    text-align: center;
    margin-bottom: 60px;
}
.reco{
    padding:20px;
    background: #a2d2ff;
    padding-bottom: 30px;
    border-radius: 20px;
  }
  
  .reco-cont{
 
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  .reco-ind{
    width: 28%;
    text-align: center;
  }
  
  .reco-ind img{
    width: 250px;
    height: 150px;
    border-radius: 40px;
     box-shadow:1px 3px 6px 3px;
  }
  .reco-ind img:hover{
    transform:translate(19px, 13px);
      transition: transform 0.3s ease;
  }
  .recoh3{
    font-size:10px;/*no se pq no jalo*/
  }
  .reco-ind h3{
    margin: 10px 0;
    font-size: 20px;
    padding:20px;
  }
  
  .reco-ind h3:hover{
    transition: color 0.3s ease;
    color:#fff;
  }
  /*Certificados*/

.certis{
    background: #ffffff;
    padding-bottom: 30px;
  }
  
  .certis-cont{
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .certis-ind{
    width: 28%;
    text-align: center;
  }
  
  .certis-ind img{
    width: 90%;
  }
  
  .certis-ind h3{
    margin: 10px 0;
    font-size: 25px;
  }
  
  .certis-ind h3:hover{
    transition: color 0.3s ease;
    color:#a2d2ff;
  }
  .certis-ind p{
    font-weight: 300;
    text-align: justify;
  }

  /*habilidades*/
  .cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center
  }
  .img1:hover{
    transform:translate(-50px, -15px);
      transition: transform 0.3s ease;
  }
  .img3:hover{
    transform:translate(50px, 17px);
      transition: transform 0.3s ease;
  }
  .puntos{
    list-style:none;
  }
   .puntos:hover{
    color:rgb(37, 35, 35);
    transition: color 0.3s ease;
  }
  .cards .card{
    display: flex;
    width: 46%;
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
  }
  .img1{
    background-color: #a2d2ff;
  }
  .img2{
    background-color:#7F7FD5;
  }
  .img3{
    background-color: hsla(176, 68%, 74%);
  }
  .cards .card img{
    position:absolute;
    left:40px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    border:none;
    border-radius: 50%;
    display: block;
  
  }
  
  .cards .card > .contenido-texto-card{
    position:absolute;
    left:150px;
    padding:15px;
    width: 60%;
    color: #fff;
  }
  .cards .card > .contenido-texto-card h4:hover{
    color:rgb(37, 35, 35);
    transition: color 0.3s ease;
  }
  .cards .card > .contenido-texto-card p{
    font-weight: 250;
    padding-top: 5px;
  }

  