.formulario{
    display:flex;
    flex-direction:row;
    justify-content:space-around;
}

.cajadatos{
    height:200px;
    width: 300px;
    background-color: #a2d2ffc9;
    padding:5px;
    border-radius:2px;
}
.terminos{
    text-align:center;
    color:rgb(142, 146, 150);
}
.entrada{
    padding:5px;
    width: 300px;
    height:40px;
    border-radius: 2px;
}

.textarea{
    position:fixed;
    width: 200px;
    height:50px;
    border-radius: 2px;

}
.button{
    padding:7px;
    cursor:pointer;
}
.envio{
    background: #7F7FD5;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(176, 68%, 74%), hsla(219, 67%, 72%), hsla(240, 51%, 67%));
    background: linear-gradient(to right, hsla(176, 68%, 74%), hsla(219, 67%, 72%), hsla(240, 51%, 67%));
    color: white;
    border-radius:7px;
    border:rgb(207, 203, 203);
    box-shadow: 2px darkgray;
}
.envio:hover{
    background-color: white;
    color:black;
    /*Agregar transformacion para q se vea ligeramente mas grande*/
}
.delete{
    background-color: azure;
    border-radius:7px;
    border:2px;
}
.delete:hover{
    background-color: rgb(12, 11, 11);
    color:white;
    border:none;

}
